<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://api.fontshare.com/v2/css?f[]=satoshi@1,2&display=swap" rel="stylesheet">
	<link href="{{ "oddmicro.css" | relURL }}?{{ .Site.Params.theme_seconds }}" rel="stylesheet">
  <link href="{{ "assets/css/highlight.css" | relURL }}?{{ .Site.Params.theme_seconds }}" rel="stylesheet">
  <meta content="{{ .Site.Author.name }}" name="author">

  <title>
      {{- block "title" . -}}
		{{- .Site.Title -}}
		{{- if and .Title (ne .Title .Site.Title) }}
		- {{ .Title }}
		{{- end -}}
      {{- end -}}
  </title>
	
	{{ partial "microblog_head.html" . }}
</head>