@import url(reset.css);
@import url(raleway/raleway.css);

:root {
	--body-background: white;
	--body-foreground: black;
	--accent-color: #369;
	--accent-background: #036;
	--accent-foreground: #ccc;
	--accent-foreground-em: white;
	--grey: #999;
	--shadow-color: rgba(0,0,0,0.4);
}

h1, h2:not(:has(a.u-url.dates)), h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	text-wrap: balance;
}

body {
	font-family: 'Satoshi', sans-serif;
	font-size: 18px;
	margin: 0;
}

a {
	color: var(--accent-color);
}

img {
	max-width: 100%;
	height: auto;
}

.max-large, .max-medium {
	margin-inline: auto;
	padding-inline: 0.5rem;
}

.max-large {
	max-width: 70rem;
}

.max-medium {
	max-width: 47rem;
}

/* Built-in styles */
article.h-entry.post, #post-list, div.h-feed {
	margin-inline: auto;
	padding-inline: 0.5rem;
	max-width: 47rem;

	h1 {
		font-size: 1.5em;
	}
}

div.archive_categories {
	margin-inline: auto;
	padding-inline: 0.5rem;
	max-width: 70rem;
	display: flex;
	gap: 1em;
	flex-direction: row;
}

#post-list {
	margin-block-start: 2em;
	list-style-type: none;
}

#post-meta {
	display: none;
}

a:has(aside.dates), a.u-url.dates {
	color: var(--grey);
	text-decoration: none;
	text-align: end;
	font-size: .7rem; /* rem here to override h2 styles */

	&:hover {
		text-decoration: underline;
	}

	h2:has(&) {
		text-align: end;
	}
}

.separator {
	width: 20em;
	border-top: .1em solid var(--grey);
	height: 1px;
	margin-block: 2em;
	margin-inline: auto;
	display: block;
}

.blogroll {
	li {
		margin-block-end: 1em;
	}

	a {
		font-weight: bold;
		text-decoration: none;

		span {
			font-weight: normal;
			color: var(--grey);
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

/* Global nav */

body > header {
	border-bottom: 2px solid var(--grey);

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	a {
		text-decoration: none;
		display: block;
	}

	a.home {
		height: 30px;

		svg {
			height: 100%;
			width: 2em;

			.logotype {
				display: none;
			}
		}
	}

	ul {
		display: flex;
		gap: 1.5em;
		flex-direction: row;
		list-style-type: none;
		margin: 0;
		padding: 0;

		a {
			padding-block: 1em;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

main.project {
	header {
		min-height: 30em;
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: cover;
		background-position: center;
	}

	h1 {
		width: auto;
		height: 5em;
		filter: drop-shadow(0 5px 10px black);
		max-width: 95%;


		img {
			width: auto;
			height: 100%;
		}
	}

	div.writeup {
		p:first-child {
			font-size: 2em;
			font-weight: 300;
			font-family: 'Raleway';
			margin-bottom: 2em;
			text-wrap: balance;
		}
	}

	div.gallery {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: .8em;
		margin-block: 3em;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;

			&:first-child {
				grid-row: span 2;
				aspect-ratio: 1;
			}
		}
	}

	div.cta {
		display: flex;
		justify-content: end;

		a {
			display: block;
			font-family: 'Raleway';
			font-weight: 500;
			font-size: 1.5em;
			padding: .5em 1em;
			background: var(--accent-background);
			color: var(--accent-foreground-em);
			text-decoration: none;
			display: flex;
			gap: .5em;
			align-items: center;
		}

		svg {
			height: 1.25em;
			width: auto;
		}
	}
}

body > footer {
	background: var(--accent-background);
	color: var(--accent-foreground);
	border-block-start: .5rem solid var(--accent-color);
	margin-block-start: 2rem;
	padding-block-start: 1rem;

	a {
		color: var(--accent-foreground-em);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	& > div {
		display: grid;
	}

	.tagline {
		max-width: 20em;
		margin-block-end: 3em;
	}

	h3 {
		font-weight: 600;
	}

	ul {
		list-style-type: none;
		padding-inline-start: 1em;
	}

	.colophon {
		font-size: .8em;
		margin-block-end: 3rem;
	}
}

@media screen and (min-width: 32rem) {
	body > header a.home svg {
		width: auto;

		.logotype {
			display: revert;
		}
	}

	body > footer {
		.tagline {
			grid-row: span 2;
			margin-block-end: 0;
			margin-inline-end: 3rem;
		}

		& > div {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
		}

		.colophon {
			grid-column: span 2;
		}
	}
}

@media screen and (min-width: 43rem) {
	body > footer {
		.tagline {
			grid-row: revert;
		}

		& > div {
			grid-template-columns: 2fr 1fr 1fr;
			gap: 3em;
		}

		.colophon {
			grid-column: revert;
		}
	}

	main.project div.gallery {
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}